<section>
    <div class="row">
        <div class="col-12">
            Buttons
        </div>
        <div class="col-12">
            <code>{{buttonsCodeSnippet}}</code>
        </div>
        <div class="col-12">
            <div class="example-button-row">
                <js-mono-button [type]="'save'" [text]="'save'"></js-mono-button>
                <js-mono-button [type]="'add'" [text]="'add'"></js-mono-button>
                <js-mono-button [type]="'completed'" [text]="'completed'"></js-mono-button>
                <js-mono-button [type]="'edit'" [text]="'edit'"></js-mono-button>
                <js-mono-button [type]="'cancel'" [text]="'cancel'"></js-mono-button>
                <js-mono-button [type]="'remove'" [text]="'remove'"></js-mono-button>
            </div>
        </div>
    </div>
</section>
<!-- <mat-divider></mat-divider> -->